accessible-pygments==0.0.3 ; python_full_version == "3.9.16"
aiofiles==22.1.0 ; python_full_version == "3.9.16"
aiosqlite==0.18.0 ; python_full_version == "3.9.16"
alabaster==0.7.13 ; python_full_version == "3.9.16"
anyio==3.6.2 ; python_full_version == "3.9.16"
appnope==0.1.3 ; sys_platform == "darwin" and python_full_version == "3.9.16" or platform_system == "Darwin" and python_full_version == "3.9.16"
argon2-cffi-bindings==21.2.0 ; python_full_version == "3.9.16"
argon2-cffi==21.3.0 ; python_full_version == "3.9.16"
arrow==1.2.3 ; python_full_version == "3.9.16"
asttokens==2.2.1 ; python_full_version == "3.9.16"
attrs==22.2.0 ; python_full_version == "3.9.16"
babel==2.12.1 ; python_full_version == "3.9.16"
backcall==0.2.0 ; python_full_version == "3.9.16"
beautifulsoup4==4.12.0 ; python_full_version == "3.9.16"
bleach==6.0.0 ; python_full_version == "3.9.16"
certifi==2022.12.7 ; python_full_version == "3.9.16"
cffi==1.15.1 ; python_full_version == "3.9.16"
charset-normalizer==3.1.0 ; python_full_version == "3.9.16"
click==8.1.3 ; python_full_version == "3.9.16"
colorama==0.4.6 ; sys_platform == "win32" and python_full_version == "3.9.16" or platform_system == "Windows" and python_full_version == "3.9.16"
comm==0.1.3 ; python_full_version == "3.9.16"
contourpy==1.0.7 ; python_full_version == "3.9.16"
cycler==0.11.0 ; python_full_version == "3.9.16"
debugpy==1.6.6 ; python_full_version == "3.9.16"
decorator==5.1.1 ; python_full_version == "3.9.16"
defusedxml==0.7.1 ; python_full_version == "3.9.16"
docutils==0.18.1 ; python_full_version == "3.9.16"
executing==1.2.0 ; python_full_version == "3.9.16"
fastjsonschema==2.16.3 ; python_full_version == "3.9.16"
fonttools==4.39.2 ; python_full_version == "3.9.16"
fqdn==1.5.1 ; python_full_version == "3.9.16"
graphql-core==3.2.3 ; python_full_version == "3.9.16"
greenlet==2.0.2 ; python_full_version == "3.9.16" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
idna==3.4 ; python_full_version == "3.9.16"
imagesize==1.4.1 ; python_full_version == "3.9.16"
importlib-metadata==6.1.0 ; python_full_version == "3.9.16"
importlib-resources==5.12.0 ; python_full_version == "3.9.16"
ipykernel==6.22.0 ; python_full_version == "3.9.16"
ipython-genutils==0.2.0 ; python_full_version == "3.9.16"
ipython==8.11.0 ; python_full_version == "3.9.16"
isoduration==20.11.0 ; python_full_version == "3.9.16"
jedi==0.18.2 ; python_full_version == "3.9.16"
jinja2==3.1.2 ; python_full_version == "3.9.16"
json5==0.9.11 ; python_full_version == "3.9.16"
jsonpointer==2.3 ; python_full_version == "3.9.16"
jsonschema==4.17.3 ; python_full_version == "3.9.16"
jsonschema[format-nongpl]==4.17.3 ; python_full_version == "3.9.16"
jupyter-book==0.15.1 ; python_full_version == "3.9.16"
jupyter-cache==0.5.0 ; python_full_version == "3.9.16"
jupyter-client==8.1.0 ; python_full_version == "3.9.16"
jupyter-core==5.3.0 ; python_full_version == "3.9.16"
jupyter-events==0.6.3 ; python_full_version == "3.9.16"
jupyter-server-fileid==0.8.0 ; python_full_version == "3.9.16"
jupyter-server-terminals==0.4.4 ; python_full_version == "3.9.16"
jupyter-server-ydoc==0.8.0 ; python_full_version == "3.9.16"
jupyter-server==2.5.0 ; python_full_version == "3.9.16"
jupyter-ydoc==0.2.3 ; python_full_version == "3.9.16"
jupyterlab-pygments==0.2.2 ; python_full_version == "3.9.16"
jupyterlab-server==2.20.0 ; python_full_version == "3.9.16"
jupyterlab==3.6.2 ; python_full_version == "3.9.16"
kiwisolver==1.4.4 ; python_full_version == "3.9.16"
latexcodec==2.0.1 ; python_full_version == "3.9.16"
linkify-it-py==2.0.0 ; python_full_version == "3.9.16"
markdown-it-py==2.2.0 ; python_full_version == "3.9.16"
markupsafe==2.1.2 ; python_full_version == "3.9.16"
matplotlib-inline==0.1.6 ; python_full_version == "3.9.16"
matplotlib==3.7.1 ; python_full_version == "3.9.16"
mdit-py-plugins==0.3.5 ; python_full_version == "3.9.16"
mdurl==0.1.2 ; python_full_version == "3.9.16"
mistune==2.0.5 ; python_full_version == "3.9.16"
myst-nb==0.17.1 ; python_full_version == "3.9.16"
myst-parser==0.18.1 ; python_full_version == "3.9.16"
nbclassic==0.5.3 ; python_full_version == "3.9.16"
nbclient==0.5.13 ; python_full_version == "3.9.16"
nbconvert==7.2.10 ; python_full_version == "3.9.16"
nbformat==5.8.0 ; python_full_version == "3.9.16"
nest-asyncio==1.5.6 ; python_full_version == "3.9.16"
notebook-shim==0.2.2 ; python_full_version == "3.9.16"
notebook==6.5.3 ; python_full_version == "3.9.16"
numpy==1.24.2 ; python_full_version == "3.9.16"
packaging==23.0 ; python_full_version == "3.9.16"
pandas==1.5.3 ; python_full_version == "3.9.16"
pandocfilters==1.5.0 ; python_full_version == "3.9.16"
parso==0.8.3 ; python_full_version == "3.9.16"
pexpect==4.8.0 ; sys_platform != "win32" and python_full_version == "3.9.16"
pickleshare==0.7.5 ; python_full_version == "3.9.16"
pillow==9.4.0 ; python_full_version == "3.9.16"
platformdirs==3.1.1 ; python_full_version == "3.9.16"
prometheus-client==0.16.0 ; python_full_version == "3.9.16"
prompt-toolkit==3.0.38 ; python_full_version == "3.9.16"
psutil==5.9.4 ; python_full_version == "3.9.16"
ptyprocess==0.7.0 ; sys_platform != "win32" and python_full_version == "3.9.16" or os_name != "nt" and python_full_version == "3.9.16"
pure-eval==0.2.2 ; python_full_version == "3.9.16"
pybtex-docutils==1.0.2 ; python_full_version == "3.9.16"
pybtex==0.24.0 ; python_full_version == "3.9.16"
pycparser==2.21 ; python_full_version == "3.9.16"
pydata-sphinx-theme==0.13.1 ; python_full_version == "3.9.16"
pygments==2.14.0 ; python_full_version == "3.9.16"
pyparsing==3.0.9 ; python_full_version == "3.9.16"
pyrsistent==0.19.3 ; python_full_version == "3.9.16"
python-dateutil==2.8.2 ; python_full_version == "3.9.16"
python-dotenv==1.0.0 ; python_full_version == "3.9.16"
python-json-logger==2.0.7 ; python_full_version == "3.9.16"
pytz==2022.7.1 ; python_full_version == "3.9.16"
pywin32==305 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_full_version == "3.9.16"
pywinpty==2.0.10 ; os_name == "nt" and python_full_version == "3.9.16"
pyyaml==6.0 ; python_full_version == "3.9.16"
pyzmq==25.0.2 ; python_full_version == "3.9.16"
requests==2.28.2 ; python_full_version == "3.9.16"
rfc3339-validator==0.1.4 ; python_full_version == "3.9.16"
rfc3986-validator==0.1.1 ; python_full_version == "3.9.16"
send2trash==1.8.0 ; python_full_version == "3.9.16"
setuptools==67.6.0 ; python_full_version == "3.9.16"
sgqlc==16.1 ; python_full_version == "3.9.16"
six==1.16.0 ; python_full_version == "3.9.16"
sniffio==1.3.0 ; python_full_version == "3.9.16"
snowballstemmer==2.2.0 ; python_full_version == "3.9.16"
soupsieve==2.4 ; python_full_version == "3.9.16"
sphinx-book-theme==1.0.0 ; python_full_version == "3.9.16"
sphinx-comments==0.0.3 ; python_full_version == "3.9.16"
sphinx-copybutton==0.5.1 ; python_full_version == "3.9.16"
sphinx-design==0.3.0 ; python_full_version == "3.9.16"
sphinx-external-toc==0.3.1 ; python_full_version == "3.9.16"
sphinx-jupyterbook-latex==0.5.2 ; python_full_version == "3.9.16"
sphinx-multitoc-numbering==0.1.3 ; python_full_version == "3.9.16"
sphinx-thebe==0.2.1 ; python_full_version == "3.9.16"
sphinx-togglebutton==0.3.2 ; python_full_version == "3.9.16"
sphinx==5.0.2 ; python_full_version == "3.9.16"
sphinxcontrib-applehelp==1.0.4 ; python_full_version == "3.9.16"
sphinxcontrib-bibtex==2.5.0 ; python_full_version == "3.9.16"
sphinxcontrib-devhelp==1.0.2 ; python_full_version == "3.9.16"
sphinxcontrib-htmlhelp==2.0.1 ; python_full_version == "3.9.16"
sphinxcontrib-jsmath==1.0.1 ; python_full_version == "3.9.16"
sphinxcontrib-qthelp==1.0.3 ; python_full_version == "3.9.16"
sphinxcontrib-serializinghtml==1.1.5 ; python_full_version == "3.9.16"
sqlalchemy==1.4.47 ; python_full_version == "3.9.16"
stack-data==0.6.2 ; python_full_version == "3.9.16"
tabulate==0.9.0 ; python_full_version == "3.9.16"
terminado==0.17.1 ; python_full_version == "3.9.16"
tinycss2==1.2.1 ; python_full_version == "3.9.16"
tomli==2.0.1 ; python_full_version == "3.9.16"
tornado==6.2 ; python_full_version == "3.9.16"
traitlets==5.9.0 ; python_full_version == "3.9.16"
typing-extensions==4.5.0 ; python_full_version == "3.9.16"
uc-micro-py==1.0.1 ; python_full_version == "3.9.16"
uri-template==1.2.0 ; python_full_version == "3.9.16"
urllib3==1.26.15 ; python_full_version == "3.9.16"
wcwidth==0.2.6 ; python_full_version == "3.9.16"
webcolors==1.12 ; python_full_version == "3.9.16"
webencodings==0.5.1 ; python_full_version == "3.9.16"
websocket-client==1.5.1 ; python_full_version == "3.9.16"
wheel==0.40.0 ; python_full_version == "3.9.16"
y-py==0.5.9 ; python_full_version == "3.9.16"
ypy-websocket==0.8.2 ; python_full_version == "3.9.16"
zipp==3.15.0 ; python_full_version == "3.9.16"
